<?xml version="1.0"?>
<config>
    <modules>
        <Silex_SearchSuggestions>
            <version>1.0.2</version>
        </Silex_SearchSuggestions>
    </modules>
    <global>
        <helpers>
            <silex_searchsuggestions>
                <class>Silex_SearchSuggestions_Helper</class>
            </silex_searchsuggestions>
        </helpers>
        <models>
            <catalogsearch>
                <rewrite>
                    <query>Silex_SearchSuggestions_Model_Query</query>
                </rewrite>
            </catalogsearch>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Silex_SearchSuggestions>
                    <files>
                        <default>Silex_SearchSuggestions.csv</default>
                    </files>
                </Silex_SearchSuggestions>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <silex_searchsuggestions>
                    <file>silex/search_suggestions.xml</file>
                </silex_searchsuggestions>
            </updates>
        </layout>
    </frontend>
</config>